body{
margin:0;
  background: -webkit-linear-gradient(#67329a, #401d61); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#67329a, #401d61); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#67329a, #401d61); /* For Firefox 3.6 to 15 */
 background: linear-gradient(#67329a, #401d61); /* Standard syntax */
}

div.console_caret_line{
	overflow:hidden;
	width:400px;
	height:18px;
	display:none;
}

div.caret{
	float:left;
	width:9px;
	height:16px;
	background-color:white;
	margin-left:10px;
	margin-top: 1px;
}

div.content {
	display: block;
	width: 340px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	background-color: black;
	height: 340px;
	padding: 20px;
	font-family: monospace;
	color: white;
	font-size: 16px;
	background-color: rgba(1,1,1,0.5);
	border-radius: 10px;
}

span.console{
	display:none;
}

div.contentx{
	width:950px;
	height:457px;
	margin-left: auto;
    margin-right: auto;
	margin-top:60px;
	background-image: url('img/box.png');
}

div.img_dinolol {
width: 340px;
height: 360px;
background-image: url('img/dinolol.png');
background-size: contain;
background-repeat: no-repeat;
position: fixed;
bottom: 30;
left:20;
z-index: -1;
}

div.img_front {
width: 100%;
height: 480px;
background-image: url('img/footer_roofs_front.png');
background-repeat: repeat-x;
position: absolute;
left:0px;
bottom:0px;
z-index:-1;
}

div.img_middle {
width: 100%;
height: 480px;
background-image: url('img/footer_roofs_middle.png');
background-repeat: repeat-x;
position: absolute;
left:0px;
bottom:0px;
z-index:-2;
}

img.snowfall-flakes{
	opacity:0.3;
}